/* * {
    border: 1px solid red;
} */

/* .section {
    width: 50%;
} */
/* #add-todo-container {
    max-width: 450px;
} */
/* .progress {
    display: none;
} */


.column {
    max-width: 500px;
}

.input-bar {
    max-width: 450px;
}

.in-progress {
    margin: 0 0 10px 10px;
}

#select-button-container {
    max-width: 450px;
}

#category-section {
    padding: 0px;
}


.box {
    background-color: rgba(85, 250, 247, 0.142);
}

.todo-highlight {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

#add-small-step {
    margin-left: 10px;
}

.fade-slide {
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    opacity: 1;
    max-height: 500px;
  }
  
  .fade-slide.hidden {
    opacity: 0;
    max-height: 0;
    pointer-events: none;
  }


  .delete {
    transition: opacity 0.3s ease, max-height 0.3s ease;
    opacity: 1;
  }

  .delete.hidden {
    opacity: 0;
    max-height: 0;
    pointer-events: none;
  }